.users {
    background-color: aqua;
}
.user-content {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1E1E2C;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 2rem;
}

.user-list {
    display: block;
    text-align: center;
}
